@use '../util/' as *;

.toggle{
    border: none;

    &__wrapper{
        height: rem(24);   
    }

    input[type="radio"]{
        opacity: 0;
    }

    &__button{
        width: rem(16);
        height: rem(16);
        border-radius: 50%;
        background-color: var(--toggle);
    }

    &__background{
        height: 100%;
        display: block;
        background:linear-gradient(225deg,
         var( --toggle-bg-start) 0%, 
         var(--toggle-bg-end) 98.02%
         );
         border-radius: rem(12);
        overflow: hidden;
    }

    label{
        
    }
}